.chapter1, .chapter2, .chapter3, .chapter4, .chapter5, .chapter6, .chapter7, .chapter8, .chapter9, .chapter10, .chapter11, .chapter12 {    
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 10px;
}
.chapter1 button, .chapter2 button, .chapter3 button, .chapter4 button, .chapter5 button, .chapter6 button, .chapter7 button, .chapter8 button, .chapter9 button, .chapter10 button, .chapter11 button, .chapter12 button{
    display: inline-block;
    width: 220px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.chapter1 button:hover, .chapter2 button:hover, .chapter3 button:hover, .chapter4 button:hover, .chapter5 button:hover, .chapter6 button:hover, .chapter7 button:hover, .chapter8 button:hover, .chapter9 button:hover, .chapter10 button:hover, .chapter11 button:hover, .chapter12 button:hover{
    background-color: purple;
}
.chapter1 h2, .chapter2 h2, .chapter3 h2, .chapter4 h2, .chapter5 h2, .chapter6 h2, .chapter7 h2, .chapter8 h2, .chapter9 h2, .chapter10 h2, .chapter11 h2, .chapter12 h2{
    display: flex;
    width: 600px;
    height: 150px;
    border-radius: 15px;
    background-color: purple;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}
.chapter1 .quizhead , .chapter2 .quizhead, .chapter3 .quizhead, .chapter4 .quizhead, .chapter5 .quizhead, .chapter6 .quizhead, .chapter7 .quizhead, .chapter8 .quizhead, .chapter9  .quizhead, .chapter10, .chapter11 .quizhead, .chapter12 .quizhead{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
}
.chapter1 .next button, .chapter2 .next button, .chapter3 .next button, .chapter4 .next button, .chapter5 .next button, .chapter6 .next button, .chapter7 .next button, .chapter8 .next button, .chapter9 .next button, .chapter10 .next button, .chapter11 .next button, .chapter12 .next button{
    float: right;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: purple;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.chapter1 .prev button, .chapter2 .prev button, .chapter3 .prev button, .chapter4 .prev button, .chapter5 .prev button, .chapter6 .prev button, .chapter7 .prev button, .chapter8 .prev button, .chapter9 .prev button, .chapter10 .prev button, .chapter11 .prev button, .chapter12 .prev button{
    float: left;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: purple;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}