@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
.menu{
    text-align: center;
    justify-content: center;
    display: block;
    align-items: center;
    
}

.menu h2{
    font-family: 'Hanken Grotesk';
}

.para{
    margin: 80px auto;
    font-size: 15px; 
    padding: 0px 15px;
}

.para p{
    font-family: 'Hanken Grotesk';
}

.menuimage{
    margin-bottom: 30px;
}
.menuimage img{
    border-radius: 10px;
    margin-bottom: 30px;
}

.menu .arrow-icon{
    font-size: 12px;
    margin-left: 10px;
    margin-top: auto;
}

.trivia{
    margin: 50px;
    margin-bottom: 50px;
}
.menubutton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubutton button{
    width: 130px;
    height: 35px;
    color: white;
    background-color: purple;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    border: none;
    font-family: 'Hanken Grotesk';
}



@media(max-width: 390px){
}