@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
.splashscreen{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: purple;
}
.splashscreen img{
    width: 250px;
    height: 200px;
}
.splashscreen .loading{
    margin-top: 50px;
}