@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
.home{
    padding-bottom: 60px;
}
.user-data-left img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
.img-mail-sign{
    display: flex;
    justify-content: space-between;
}
.user-data-right{
    margin-left: 10px;
    font-size: 25px;
    margin-top: -20px;
    color: white;
    font-family: 'Hanken Grotesk';
}
.signinbutton{
    float: right;
}
.signinbutton button{
    color: white;
    background-color: purple;
    font-family: 'Hanken Grotesk';
    width: 100px;
    height: 30px;
}
.tophead{
    background-color: purple;
    height: 220px;
}
.head{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.topbox{
    display: flex;
    width: 600px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 25px;
    font-family: 'Hanken Grotesk';
    font-size: 25px;
    gap: 20px;
}
.topbox-left button{
    background-color: purple;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
}
.topbox-left{
    padding-left: 25px;
    padding-bottom: 5px;
}
.topbox-right img{
    width: 60px;
    height: 110px;
    margin-right: 20px;
}
.main-body{
    margin-top: 200px;
    background-color: rgb(228, 213, 194);
}
.dark .main-body{
    margin-top: 200px;
    background-color: #121212;
}
.main-body img{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    margin: 20px;
}
.dark .main-body li{
    color: white;
}
.main-body li{
    text-decoration: underline;
    color: black;
    font-family: 'Hanken Grotesk';
    text-align: center;
    margin-bottom: 10px;
    list-style: none;
    font-size: 20px;
}
 .first, .second{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.home .logout-overlay{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
}
.home .logout-content{
    text-align: center;
    background-color: white;
    width: 400px;
    height: 100px;
    gap: 30px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.home .login-yesno-buttons{
    justify-content: space-between;
    display: flex;
}
.home .login-yesno-buttons button{
    font-family: 'Hanken Grotesk';
    width: 80px;
    background-color: purple;
    color: white;
    cursor: pointer;
    height: 20px;
    border: none;
    border-radius: 5px;
}

@media(max-width:800px){    
    .topbox{
        width: 500px;
        font-size: 20px;
    }
    .main-body{
        margin-top: 170px;
    }
    .main-body img{
        width: 200px;
        height: 200px;
    }
    .main-body li{
        font-size: 18px;
    }
}


@media(max-width:700px){
    .topbox{
        width: 400px;
        font-size: 18px;
    }
    .main-body{
        margin-top: 150px;
    }
    .main-body img{
        width: 180px;
        height: 180px;
    }
}


@media(max-width:600px){
    .user-data-right{
        font-size: 22px;
    }
    .topbox{
        width: 350px;
        font-size: 17px;
    }
    .topbox-left button{
        width: 100px;
        height: 30px;
    }
    .topbox-left{
        padding-left: 15px;
        padding-bottom: 5px;
    }
    .topbox-right img{
        width: 60px;
        height: 110px;
    }
    .main-body{
        margin-top: 130px;
    }
    .main-body img{
        width: 150px;
        height: 150px;
        margin-bottom: 0
    }
    .main-body li{
        font-size: 15px;
    }
}

@media(max-width:400px){
    .user-data-right{
        font-size: 16px;
    }
    .topbox{
        width: 280px;
    }
    .topbox-left{
        padding-left: 17px;
    }
    .main-body{
        margin-top: 150px;
    }
    .main-body img{
        width: 110px;
        height: 120px;
        border-radius: 25px;
        margin-bottom: 0
    }
    .main-body li{
        font-size: 13px;
    }
}