.quiz_name{
    margin-top: 100px;
}
.quiz_name h2{
    text-align: center;
    color: purple;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
form input{
    display: block;
    margin-bottom: 15px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 40px;
}
form button{
    background-color: purple;
}