.forgotpassword{
    text-align: center;
}
.forgotheader{
    font-weight: bolder;
}
.forgotform{
    justify-content: center;
    align-items: center;
    display: flex;
}
.forgotpara{
    line-height: 5px;
    font-size: 10px;
}
.forgotpassword img{
    width: 170px;
    height: 100px;
    margin: 30px 70px;
    border-radius: 10px;
}

.forgotpassword form input{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    padding-left: 10px;
}

.forgotpassword button{
    background-color: purple;
    color: white;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    width: 315px;
    padding-left: 10px;
}