@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
.settings{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 213, 194);
    color: black;
    min-height: 100vh;
}
.dark .settings{
    background-color: #121212;
    color: white;
}

.settings-body{
    display: flex;
    flex-direction: column;
}

.settings-body button{
    width: 210px;
    background-color: purple;
    color: white;
    height: 25px;
    border-radius: 5px;
    margin: 30px;
}