.settings{
    justify-content: center;
    align-items: center;
}
.settings h2,.settings p, .signout{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.settings img{
    border-radius: 70px;
    width: 100px;
    height: 80px;
}
.formstyle{
    display: flex;
    justify-content: center;
    align-items: center;
}
form input{
    display: block;
    margin-bottom: 5px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
form label{
    padding: 0px;
}
form button{
    width: 210px;
    background-color: blue;
    color: white;
    height: 25px;
    border-radius: 5px;
}